.app {
  background-color: var(--color-dark--0);
  padding: 1rem;
  position: relative;
}

.app > * {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

@media (min-width: 1000px) {
  .app {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    padding: 0;
  }

  .app > * {
    max-width: unset;
    margin: auto;
    margin: 0;
  }
}
