.home {
  background: linear-gradient(rgba(36, 42, 46, 0.8), rgba(36, 42, 46, 0.8)),
    url(/bg.jpg) no-repeat center center / cover;
}
.home section {
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  margin: 3rem 0;
}

.home h1 {
  font-size: 1.8rem;
}
.home p {
  margin-top: 1rem;
  color: var(--color-light--1);
  font-size: 1.2rem;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home a:global(.cta) {
  color: var(--color-dark--1);
}

@media (min-width: 600px) {
  .home section p {
    font-size: 1.5rem;
  }
  .home h1 {
    font-size: 2.5rem;
  }
}
