.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark--2);
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  text-align: center;
  border-left: 0.3rem var(--color-brand--1) solid;
}

.country span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60%;
  min-width: 7rem;
}
.country :first-child {
  font-size: 2rem;
}
