.form {
  background-color: var(--color-dark--2);
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;

  & > div {
    margin-bottom: 1.5rem;
  }

  & > div > * {
    display: block;
  }

  & label {
    margin-bottom: 0.5rem;
    color: var(--color-light--1);
    font-weight: 500;
  }

  & input,
  & textarea {
    padding: 0.7rem;
    border-radius: 0.3rem;
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: var(--color-light--2);
    font-weight: 200;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
  }

  & > div:last-child {
    display: flex;
    justify-content: space-between;
  }

  & > div:first-child {
    & > div {
      position: relative;
    }

    & span {
      display: block;
      position: absolute;
      right: 0;
      transform: translateY(50%);
      bottom: 50%;
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  }

  & input:disabled,
  & textarea:disabled {
    background-color: var(--color-light--1);
    color: var(--color-dark--2);
  }
}
