.resLogo {
  width: 2.5rem;
}

@media (min-width: 450px) {
  .resLogo {
    display: block;
    width: 6rem;
  }
}

@media (min-width: 600px) {
  .resLogo {
    display: block;
    width: 8rem;
  }
}

@media (min-width: 800px) {
  .resLogo {
    display: block;
    width: 10rem;
  }
}

.logo {
  width: 200px;
}

@media (min-width: 600px) {
  .logo {
    width: 260px;
  }
}
